
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pfp-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-textblock {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
}

.pfp {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    display: block;
    position: relative;
    z-index: 2;
    transform: translateY(-18px);
}

.socials {
    width: 34px;
    height: 34px;
    border-radius: 40%;
    object-fit: cover;
    background: #fff;
    position: absolute;
    z-index: 1;
}

.social-1 {
    left: 10%;
    bottom: -8%;
    transform: translate(-50%, 50%);
}

.social-2 {
    left: 50%;
    bottom: -18%;
    transform: translate(-50%, 50%);
}

.social-3 {
    left: 90%;
    bottom: -8%;
    transform: translate(-50%, 50%);
}

.node_tree_button {
    background-color: rgb(147, 147, 240);
    border-radius: 50%;
}
